/*============================================================================================*/
/* COLOR SCHEME 2 */
/*============================================================================================*/
/* HEADER*/
header {background-color:#fff;}
ul#top_nav li {border-left: 1px solid #ccc;}
ul#top_nav li a{color:#488dc6;}
nav {background-color:#FFB300 ;}
#main-features {background:#FFB300 url(../img/bg_sub-header.png) repeat 0 0;color:#fff;}
.feature i{border:2px solid #fff;color: #FFC;}
.divider_top{background:url(../img/top_divider.png) repeat-x center bottom;}
.divider_top_black{background:url(../img/top_divider_aqua.png) repeat-x center bottom;}
#sub-header{color:#fff}

/* MENU + MEGAMENU*/
.sb-icon-search, .sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {background: #FFB300;}
.sb-search-input::-webkit-input-placeholder {color: #fff;}
.sb-search-input:-moz-placeholder, .sb-search-input::-moz-placeholder, .sb-search-input:-ms-input-placeholder {color: #fff;}
.sb-search-input {border-bottom:1px solid #fff;}
.sf-menu .sf-mega {background: #9E9E9E;}
ul.sf-menu li a:hover{color:#fff;}
.sf-menu ul li {background: #9E9E9E;}
.sf-menu ul li a {background: #9E9E9E;}
.sf-menu ul li a:hover {background: #FFB300;color:#fff;}
.sf-menu li:hover,
.sf-menu li.sfHover {background: #9E9E9E;color:#fff;}
.sf-menu .sf-mega ul.mega_submenu li a{color:#fff;}
.sf-mega h5{border-bottom:1px solid #336578;}
.sf-menu .sf-mega ul.mega_submenu li{border-bottom: 1px dotted #336578;}
.sf-menu .sf-mega ul.mega_submenu li a:hover {color:#fff;}

/* FOOTER */
footer hr{border-color:#49c9c3;}
input.form-control#email_newsletter {background-color:#fff;color:#000;}
input.form-control#email_newsletter::-moz-placeholder { color: #000; opacity:0.5;}
input.form-control#email_newsletter::-webkit-input-placeholder {color:#000; opacity:0.5;}
footer {background:#FFB300; color:#fff;}
#nav-footer ul li a{color:#fff;}
#nav-footer ul li a:hover{border-color: #fff;}
ul#follow_us  li a{border: 2px solid #fff;}
#copy_right{background-color:#9E9E9E;color:#fff;}
.phone{color: #FF9}
#newsletter .button_outline, a.button_outline {border:3px solid #FFC;background:none;color:#FFC;}

/* COMMON*/
#directions { background-color:#005b7f; }
 #login_bg{background:#008b80 url(../img/bg_sub-header.png) repeat 0 0;}
 #wizard_bg{background:#008b80 url(../img/bg_sub-header.png) repeat 0 0;}
 #newsletter .button_outline:hover{color:#111; border:3px solid #111;}
 
 #subscribe_home {background-color:#333;}